{% include "inc_head.html" %}

<a name="settings"></a>

<h2>Hello!</h2>

<p>Suggestify a web application that allows you to geotag other people's photos on <a href="http://www.flickr.com/">Flickr</a> by suggesting a location to the photo's owner. Likewise, someone else can offer you suggestions of where <em>your</em> un-geotagged photos were taken.</p>

<p>That location information is stored here until the photo's owner approves (or rejects) the suggestion. If approved, the photo is geotagged on Flickr (using the Flickr API) and the suggestor is credited by adding a special tag to the photo.</p>

<h2>How does it work?</h2>

<p>Like this: <a href="/example">http://suggestify.appspot.com/example</a></p>

<h2>It's still a bit rough around the edges, isn't it?</h2>

<p>The site is still very much in the
  alpha-beta-disco-disco-danceball-revolution stage. It works but if something
  sometimes <em>doesn't</em> work, I'm not surprised. Now that the basic
  functionality is in place, I'm slowly going through looking for edge cases and
  gotchas.</p>

<p><a href="#known">A list of currently known-knowns is included below</a>.</p>

<p>Suggestions, pointers and (gentle) cluebats are welcome and encouraged!</p>

<h2>How does a person find out about my suggestion?</h2>

{% if config.notifications_flickr_comments %}

<p>When someone suggests a location for another person's photo Suggestify tries
  to post a (Flickr) comment with a handy link back to the suggestion on the
  suggestor's behalf. Like this:</p>

<img src="/images/example-comment.jpg" height="300" width="300" alt="comment notification screenshot" class="example_image" />

<p>Photo owners may choose to <a href="/settings/notifications">opt-out of comment notifications entirely</a> 
  even if they continue to allow people to suggest locations for their
  photos. They may do this because they've enabled another notification
  mechanism and/or because they'd rather not have <q>broadcast</q> style
  comments added to their photos. It may make it more difficult for a photo
  owner to find out about a suggestion but that is a photographer's
  prerogative.</p>

<p>(It's also possible that the suggestor doesn't have permissions,
  on the Flickr site itself, to add comments.)</p>

<p class="aside">The ability to leave a comment requires that the suggestor grant
  Suggestify <q>write</q> access to their Flickr account. That's because, in Flickr API
  terms, <q>write</q> means the ability to <em>modify</em> a photo &#8212; adding a
  comment for example &#8212; as that user. If a user (making suggestions) prefers that Suggestify
  only have a <q>read</q> token for their account then they can still suggest
  locations comments won't be added and the recipient will need to be notified
  by other means.</p>

<p>Users may also configure Suggestify to send email notifications when new
  locations are suggested for their photos.  </p>

<p>Both comment and notifications may be configured
  the <a href="/settings">settings</a> tab on the site.</p>

{% else %}
<p>Suggestify's Achilles' heel is that it's still very difficult for people to
  find out that someone has suggested a location for their photos. Basically
  the suggestor needs to tell the photo owner and/or the photo owner needs to
  already be signed up to Suggestify and have <a href="/settings/notifications">set up email notifications</a> for
  new suggestions. Another obvious way to let people know would be to post a
  comment on the photo page on behalf of the the suggestor. Talking to people
  this seems to be the obvious approach but to start I've opted to be more
  conservative than not about this sort of thing, mostly because I don't want
  Suggestify to seem like a spamtastic nag.</p>

<p style="font-style:italic;">Update: I have started working changes to allow for notifications through
  comments. The easy part is adding the comments, that took all of five
  minutes. The harder part, and the reason it may take another couple of days to
  deploy, is making sure that photo owners can opt-out of the feature and doing
  the right thing with regards to Flickr Auth tokens: You need a token with
  "write" permissions to leave comments using the Flickr API but that shouldn't
  necessarily be required for someone who just wants to make a suggestion (and
  only needs a "read" token to prove who they say they are on Flickr) and
  doesn't care about adding comments.</p>
{% endif %}

<a name="known"></a>

<h2>Some known-knowns</h2>

<ul class="about">

<li>Apparently Safari 4 is full of weirdness when it loads this site; if
  anyone's got ideas why I'd welcome them</li>

<li>You can not filter by tags (yet)</li>

<li>You can not pull in your contact list</li>

<li>There is no pagination yet (in a lot of places)</li>

<li>The carousel is weird and the formatting is off</li>

<li>Photos are not removed from the carousel post-suggestion</li>

<li>Photos that already have a (pending) suggestion are not excluded from the
  carousel</li>

<li>Lots of other similar interactions and details are missing</li>

{% if config.notifications_flickr_comments %}
{% else %}
<li>There are no notifications (yet) which means both parties need to know about
the side, though you can <a href="/settings/notifications">configure the app to
    send you email</a> when someone else suggests a location for one of your photos</li>
{% endif %}

<li>There are no hooks for "corrections" (this was deliberately punted on for now)</li>

<li>The review does not (double) check that a photo with suggestions hasn't
  already been deleted</li>

<li>The "show me this suggestion on a map" popup is crude, at best</li>

<li>It is not possible to load multiple tile sets for the map (yet)</li>

<li>It hasn't been tested in IE</li>

<li>Uh, other stuff surely</li>

</ul>

<h2>Would you like to help out?</h2>

<p>Suggestify is <a href="http://www.aaronland.info/">one person</a>'s attempt (over coffee in the
  mornings) to provide a way for
  people to suggest locations for <en>other</em> people's photos. Maybe it will
  do everything that anyone ever wanted but, more likely, it will be
  remembered as a tiny step towards an answer. Hopefully, it won't be a
  false step.</p>

<p>Which is to say your contributions are welcome!</p>

<p>The source code that runs the site is available on GitHub:</p>

<ul>
  <li><a href="http://github.com/straup/gae-suggestify">http://github.com/straup/gae-suggestify</a></li>
</ul>

<p>It's there for people to poke around, submit patches to or even just to
  download and run your own instance of Suggestify from. If you're not a
  programmer-type but would like to get in touch, you can send email
  to: <code style="font-weight:700;">suggestify
  at <a href="http://www.aaronland.info">aaronland.info</a></code>.</p> 

{% include "inc_foot.html" %}
