{% include "inc_head.html" %}

<h2 class="example_header">Step 1</h2>

<img src="/images/example-user.jpg" height="291" width="760" alt="choose user screenshot" />

<h2 class="example_header">Step 2</h2>

<p>Once you've selected a user their not-geotagged photos will be loaded in a
  carousel-style selector beneath a map.</p>

<img src="/images/example-choose.jpg" height="562" width="627" alt="choose photos screenshot" />

<h2 class="example_header">Step 3</h2>

<img src="/images/example-photo.jpg" height="569" width="700" alt="geotag photo screenshot" />

<h2 class="example_header">Step 4 (maybe)</h2>

<p>If you've enabled email notifications for new suggestions then you'll receive
  a message from the Suggestify robot, like this one:</p>

<pre class="example_email">
Date: Tue, 08 Sep 2009 15:20:43 +0000
Subject: You have a new suggestion for one of your photos!
From: roboto.suggestificato@gmail.com
To: you@example.com

Greetings from the Suggestify project!

Flickr user slash_kittens has suggested a location for your photo "Untitled  
Focus #200907152106"!

To approve or reject this suggestion, follow the link below:

http://suggestify.appspot.com/review/VERY_LONG_NUMBER

If you're tired of getting these email messages you can always disable  
email notifications by going to:

http://suggestify.appspot.com/settings/notifications

Cheers,
</pre>

<p style="font-style:italic;">Email notifications can be enabled, or disabled, at any time
  from <a href="http://localhost:8080/settings/notifications">the settings tab</a>.</p>

<h2 class="example_header">Step 5</h2>

<img src="/images/example-review.jpg" width="770" height="397" alt="approve suggestion screenshot" />

<p>That's it!</p>

{% include "inc_four.html" %}
