<html>
	<head>
            <title>suggestify (alpha){% if page_title %}{{ page_title|escape }}{% endif %}</title>
            <link rel="stylesheet" href="/css/main.css" type="text/css" />
            <script type="text/javascript" src="/javascript/jquery.js"></script>
            <script type="text/javascript" src="/javascript/token.js"></script>
        </head>
        <body>

            <div id="whoami">
            {% if user.username %}
                You are logged in with
                your <a href="http://www.flickr.com/photos/{% ifequal user.path_alias "" %}{{ user.nsid|escape }}{% else %}{{ user.path_alias|escape }}{% endifequal %}/" class="fl_username">{{ user.username|escape }}</a> Flickr account

                <form method="POST" action="/signout" id="signout">
                  <input type="hidden" name="crumb" value="{{ logout_crumb|escape }}" />
                  <input type="submit" value="sign out" />
                </form>

            {% else %}
                <form method="GET" action="/signin" id="signin">
                  <input type="hidden" name="crumb" value="{{ login_crumb|escape }}" />
                  <input type="submit" value="sign in" />
                </form>
            {% endif %}
            </div>
            <br clear="all" />

            {% include "inc_head_navi.html" %}

            <div id="main">
