
	<h1>Hi there!</h1>

	<p>This is a site to allow you to geotag other people's photos on <a href="http://www.flickr.com/">Flickr</a> by suggesting a location to the photo's owner. Likewise, someone else can offer you suggestions of where <em>your</em> un-geotagged photos were taken.</p>

	<p>That location information is stored here until the photo's owner approves (or rejects) the suggestion. If approved, the photo is geotagged on Flickr (using the Flickr API) and the suggestor is credited by adding a special tag to the photo.</p>

        <p>To get started, you can:</p>

          <ul class="options">

            <li><a href="/chooser">Suggest a location</a> <span style="font-size:12pt;color:#ff6699;">for
            someone else's photos</span></li>

            <li><a href="/review">Review suggestions</a> <span style="font-size:12pt;color:#ff6699;">for
            your photos</span></li>

            <li><a href="/deny">Opt-out entirely</a></li>

            </ul>

          <p>Opting-out means that you'd rather not participate at all and other
          Flickr users will be prevented from suggesting locations for your photos.</p>

          <p style="font-style:italic;">Either way, you will be redirected to <a href="http://www.flickr.com/">Flickr.com</a> first to confirm that you want to allow this website to suggest locations on your behalf (or to prevent other people from suggesting locations for your photos). You should only need to do this once.</p>

          <p>Or, you can also:</p>

          <ul class="alt_options">

            <li><a href="/about#known">Review the list of known-knowns (it is still early days)</a></li>

            <li><a href="/about">Find out a little more about the project</li>
          </ul>
