{% if error %}

<div class="error">
	<h2>Erp!</h2>

        <div style="font-size:18pt;">
	{% ifequal error 'already_geotagged' %}
	This photo has already been geotagged.
	{% endifequal %}

	{% ifequal error 'no_photo' %}
        That's not a photo ID I know anything about!
	{% endifequal %}
        </div>

        <br />

        <a href="/chooser">Would you like to try suggesting a location for
        another user?</a>
</div>

{% else %}
<div id="loading" style="font-size:24pt;font-weight:700;margin-top:10%;margin-bottom:10%;">LOADING STUFF... one moment please</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/javascript/JSPlacemaker.js"></script>
<script type="text/javascript" src="/javascript/iamheremap.nojquery.js"></script>

<script type="text/javascript" src="/javascript/chooser.js"></script>
<script type="text/javascript" src="/javascript/buddyicon.js"></script>
<script type="text/javascript" src="/javascript/api.js"></script>
<script type="text/javascript" src="/javascript/utils.js"></script>

<style type="text/css">

#iamhere_coordinates { font-size:9px !important; }
#iamhere_location { font-size:9px !important; }
#iamhere_warning { display: none; }

</style>

<script type="text/javascript">

$(document).ready(function(){ 

    $("#loading").hide();
	
    $("#main").css("padding-left", "5%");
    $("#main").css("padding-right", "5%");

    var logging = true;

    var map_args = {
  		'modestmaps_provider' : 'CloudMade',
  		'cloudmade_apikey' : '{{ config.cloudmade_apikey|escape }}',
  		'map_style' : '{{ config.cloudmade_mapstyle|escape }}',
  		'flickr_apikey' : '{{ config.flickr_apikey|escape }}',
		'map_width' : 580,
		'map_height': 250,
		'enable_logging' : {{ config.javascript_logging|escape }},
		'disable_query_args' : true,
		'max_decimal_points' : 6,
   };

   var chooser_args = {
		'suggestify_apihost' : '{{ host_url|escape }}',
  		'flickr_apikey' : '{{ config.flickr_apikey|escape }}',
		'placemaker_apikey' : '{{ config.placemaker_apikey|escape }}',
		'enable_logging' : {{ config.javascript_logging|escape }},
		'suggest_crumb' : '{{ suggest_crumb|escape }}',
   };

   window.iamheremap = new info.aaronland.iamhere.Map('iamheremap', map_args);
   window.chooser = new info.aaronland.suggestify.Chooser(chooser_args);

   // quick! look over there!!

   window.chooser.rsp = { 'photos' : {{ photo_json }} };
   window.chooser.build_search_index(window.chooser.rsp);

   var photo = window.chooser.get_photo_by_offset(0);
   window.chooser.loadPhoto(photo);

   $("#whatisthis").show();

   var buddyicon_args = {
		'suggestify_apihost' : '{{ host_url|escape }}',
		'enable_logging' : {{ config.javascript_logging|escape }},
   };

   window.buddyicon = new info.aaronland.suggestify.Buddyicon(buddyicon_args);
   window.buddyicon.fetch(photo['owner'], 'whatisthis_icon');

});

</script>

<div style="float:right">
<div id="foo" style="max-width:300px; text-align:left;font-size:11px;">
<div style="font-size:24pt;font-weight:700;">loading MORE STUFF (like the photo!)</div>
</div>
</div>

<div id="iamheremap" style="margin-bottom:10px;"></div>

<div id="whatisthis" style="text-align:left;">
<div id="whatisthis_icon" style="float:left;margin-right:10px;"><img src="http://www.flickr.com/images/buddyicon.jpg" height="32" width="32" alt="buddyicon" /></div>
<div>
  This is one of <a href="http://www.flickr.com/photos/{{ usernsid|escape }}">{{ username|escape }}</a>'s photos.
  <br /><br />
  Would you like to <a href="/chooser/user/{{ username|escape }}">suggest a location for one of their other photos</a>?
</div>
</div>

<br clear="all" />

{% endif %}
