<ul id="navi">

{% if user %}

	{% if config.notifications_flickr_comments %}
        {% ifequal user.perms 1 %}
        <li><a href="#" onclick="javascript:confirm_token_change_navi('chooser');return false;">make a suggestion</a></li>
        {% else %}
	<li><a href="/chooser">make a suggestion</a></li>
        {% endifequal %}
        {% else %}
	<li><a href="/chooser">make a suggestion</a></li>
        {% endif %}

        {% ifequal user.perms 1 %}
        <li><a href="#" onclick="javascript:confirm_token_change_navi('review');return false;">review suggestions</a></li>
        {% else %}
        <li><a href="/review">review suggestions</a></li>
        {% endifequal %}

        <li><a href="/settings">settings</a></li>

{% endif %}

        <li><a href="/about">about</a></li>

        <li><a href="/">home</a></li>
</ul>
